# Test Results


| № | Title | Scenario | Expected Result | Actual result | Pass/Fail indication |
|:---|:---|:---|:---|:---|:---|
| 1 | Add movie to the aplication's library without entering path | Press "All movies" screen's button "Add movie", in the window that appeared press button "Ok" with empty field | Application alerts user to enter path |  |  |
| 2 | Add movie to the aplication's library with wrong format path | Press "All movies" screen's button "Add movie", in the window that appeared press button "Ok" after entering wrong format path | Application alerts user about the wrong format of path |  |  |
| 3 | Add movie to the aplication's library with correctly entered path| Press "All movies" screen's button "Add movie", in the window that appeared press button "Ok" after entering path | Application displays movie in list of all movies |  |  |
| 4 | Add movie to the list of desired | Press "Desired" screen's button "Add movie", press button "Ok" after chosing the film to add | Application displays movie in list of desired movies| | |
| 5 | Add movie to the list of viewed | Press button "Open" to run movie | Application displays movie in list of viewed |  |  |
| 6 | Add movie to the list of favorite | Press button "Like" near movie's title | Application displays movie in list of favorite |  |  |
| 7 | Create custom list | Press "Playlists" screen's button "Add list", in the window that appeared enter title of list and choose movies to add to list. Press button "Ok" | Application displays list in list of playlists |  |  |
| 8 | Add movie to the custom list | Press "Playlist" screen's button "Add movie", in the window that appeared choose movie to add | Application displays movie in apropriated custom list |  |  |
| 9 | Run movie with title | Press "All movies" screen's button "Open" near field with title | Application opens new window with movie |  |  |
| 10 | Run movie without title | Press "All movies" screen's button "Open" near field without title | Application alerts user that movie is missing |  |  |
| 11 | Information about the film should be readable | Open home screen | Application displays home screen with lists of readable titles of movies |  |  |
| 12 | The application must respond to any user action | Press all buttons on all screens | Application responds to any pressing |  |  | 
