# Test Results


| № | Title | Scenario | Expected Result | Actual result | Pass/Fail indication |
|:---|:---|:---|:---|:---|:---|
| 1 | Add movie to the aplication's library | Press "All movies" screen's button "Add movie", press button "Ok" with empty path's field |  |  |
